.alert{
    font-size: 80%;
    color: red;
}

.container{
    display: flex;
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.margin-bottom-12{
    margin-bottom: 12px;
}

.padding-top-70{
    padding-top: 70px;
}

.section{
    margin-top: 32px;
    width: 400px;
}
